

<div>
  <ng-container *ngFor="let device of devices">
    <ul>
        <button (click)="updateCurrentDevice(device)" >{{device.name}}</button>
    </ul>
  </ng-container>
</div>



<div class="container">
  <div class="content">
    <google-map height="300px" width="500px" [options]="MapOptions"> 
      <ng-container *ngFor="let device of devices">
        <map-marker
          [position]="{ lat: device.latitude, lng: device.longitude }" 
          [icon]="device.icon"
          
          (mapClick)="updateCurrentDevice(device)">>
        </map-marker>
      </ng-container>
    </google-map>
    <p>CurrentDevice: {{currentDevice.name}}</p>
  </div>
</div>

<ng-container *ngFor="let actualMeasurement of currentDevice.allMeasurements"> 
  <div class="row justify-content-between">
  
    <div class="col">
      <mat-card>
        <mat-card-title >Current {{actualMeasurement["measurementsName"]}}</mat-card-title>
        <ngx-charts-gauge
        [view]="[300, 300]"
        [min]="0"
        [max]="100"
        [units]= '"Units"'
        [angleSpan]="240"
        [startAngle]="-120"
        [showAxis]="true"
        [results]='[{"name": actualMeasurement["measurementsName"], "value":actualMeasurement["measurementsValues"][actualMeasurement["measurementsValues"].length -1 ].value}]'>
        </ngx-charts-gauge>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-title> Historic {{actualMeasurement["measurementsName"]}} Measurements</mat-card-title>
        <mat-card-content>
          <ngx-charts-line-chart
            [view]="[800, 300]"
            [results]='[{
                          "name": actualMeasurement["measurementsName"],
                          "series":actualMeasurement["measurementsValues"]}]'
            [gradient]="true"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]='"Date and Hour"'
            [yAxisLabel]='actualMeasurement["measurementsName"] '
          >
          </ngx-charts-line-chart>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</ng-container>

<div class="row justify-content-center">

  <div>
    
  </div>

</div>

<div >
  <mat-form-field appearance="fill">
    <mat-label>Start Date and Hour</mat-label>
    <input matInput placeholder="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="startDate">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>End Date and Hour</mat-label>
    <input matInput placeholder="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="endDate">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="filtrar()">Filtrar</button>
</div>

<p>{{filtered}}</p>